nav .navbar-brand
{
    /* size for brand */
    font-family: "Georgia", serif;
    font-size: xx-large;
    padding-right: 5px;
    padding-left: 5px;
}

/* colors for brand */
nav .navbar-brand .purple
{
    color: #003C8F;
    font-family: serif;
}
nav .navbar-brand .red
{
    color: #FF9F00;
}
.nav-link{
    color: #c17aff;
}
.nav-link:hover{
    background: #FFFBA4;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#hist
{
    width:1%;
    top: 130px;
    position: absolute;
}

nav
{
    border-bottom: 3px solid #F8CD8F;
    background-color: #FFFFFF;
}
main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}
main #shorterpls
{
    padding-right:0px;
}
main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main table
{
    /* left-align contents */
    text-align: left;
}

main tfoot
{
    /* boldface tables' footers */
    font-weight: bold;
}

.button-normal {
    color: white;
    border-radius: 4px;
    background: #5b79e5;
    /* this is an orange */
}

BODY{
    background: #FFF8EE;
}
h3, h4{
    font-family: "Georgia", serif;
}
a
{
    color: #7cb3ff;
}