{% extends "layout.html" %}
{% block title %}
    Account
{% endblock %}

{% block main %}
    <h4> Your account</h4>
    <table class="table table">
        <tr>
            <th>User ID:</th>
            <td>{{ session.user_id }}</td>
            <td></td>
        </tr>
        <tr>
            <th>Username:</th>
            <td>{{ session.username }}

            </td>
            <td><form action='/account' style='display: inline;' method='post' class="pure-form">
                        <input autocomplete="off" autofocus class="pure-input-1-2" name="changeun" placeholder="New name(max. 15)" type="text">
                    <button class="btn button-normal pure-button" style='display: inline;' type="submit">Change</button>
                </form>
                </td>
        </tr>
        <tr>
            <th>Password:</th>
            <td>{{ stars }}</td>
            <td>
                <form action='/account' style='display: inline;' method='post' class="pure-form">
                        <input autocomplete="off" autofocus class="pure-input-1-2" name="changepw" placeholder="New password" type="text">
                    <button class="btn button-normal pure-button" style='display: inline;' type="submit">Change</button>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}