{% extends "layout.html" %}

{% block title %}
    Your Entries
{% endblock %}

{% block main %}
<h4>Entries<form action="history" method="POST" style='display:inline; padding:3px;'>
                        <select name='sort' class="form-control" id='hist' style='font-size: 70%; height:3%; width:1%;' onchange="this.form.submit()">
                            <option style='font-style:bold;'disabled selected value=''>Sorting</option>
                            <option value='ASC'>Earliest first</option>
                            <option value='DESC'>Latest first</option>
                            <option value='CLEAR'>Clear</option>
                        </select>
                    </div>
                </form></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in entries %}
                <tr>
                    <td>{{ row["title"] }}</td>
                    <td>{{ row["date"] }}</td>
                    <td><form action='/entries' method='POST' style='display: inline;'>
                        <button class='form-control' value='clear' style='position: relative; font-size: 50%;'
                        onclick='this.form.submit()' name='clear'>viEW
                    </button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}